<section id="steps">
  <div class="entete">
    <ul class="entete1">
      <li>
        <h4>Planifier</h4>
        <p>
          {{ texte1 }}
        </p>
      </li>
      <li
        style="
          background: url('../../assets/images/steps-icon-2.png') no-repeat
            center top;
        "
      >
        <h4>Organiser</h4>
        <p>
          {{ texte2 }}
        </p>
      </li>
      <li
        style="
          background: url('../../assets/images/steps-icon-3.png') no-repeat
            center top;
        "
      >
        <h4>Voyager</h4>
        <p>
          {{ texte3 }}
        </p>
      </li>
      <div class="clear"></div>
    </ul>
  </div>
</section>
